<a href="https://colab.research.google.com/github/Jivnesh/L2S/blob/master/trials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import json

In [4]:
pos = json.load(open("files/coarse_to_ma_dict.json"))

In [20]:
outcasts = list()
for item in pos["IV"]:
    for thing in ["sg", "pl", "du"]:
        if thing in item:
            outcasts.append(item)
    for thing in ["1","2","3"]:
        try:
            if thing in item[item.index("]"):]:
                outcasts.append(item)
        except ValueError:
             if thing in item:
                outcasts.append(item)

In [21]:
outcasts

['impft. ac. sg. ',
 'ppr. . sg. ',
 'impft . ac. sg. ',
 'pr. md. . 3',
 'impft. md. sg. ',
 'pfp. . pl. ',
 'pp. . du. ',
 'pp. . sg. ',
 'opt. md. . 3',
 'pp. ac. sgdu. 2',
 'pp. ac. sgdu. 2',
 'pp. ac. sgdu. 2',
 'pfp. . sg. ',
 'pp. . pl. ',
 'pr. md. sg. ',
 'pft. md. pl. ',
 'pr. md. sgpl. 3',
 'pr. md. sgpl. 3',
 'pr. md. sgpl. 3']

In [14]:
pos["Ind"]

['ca. abs.', 'abs.', 'ind.', 'part.', 'prep.']

In [30]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("files/tripples.csv")
df.groupby(["head_case","child_case","relation"]).count().sort_values("head_pos",ascending=False)

                                Unnamed: 0  child_pos  head_pos  file_name
head_case child_case relation
FV        nom        karwa            1016       1016      1016       1016
nom       nom        viseranam         659        659       659        659
FV        acc        karma             576        576       576        576
acc       acc        viseranam         458        458       458        458
FV        Ind        sambanxah         430        430       430        430
...                                    ...        ...       ...        ...
ROOT      acc        root                3          3         0          3
          Ind        root              182        182         0        182
          IV         root              265        265         0        265
          FV         root             1027       1027         0       1027
          g          root                1          1         0          1

[521 rows x 4 columns]